<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Rule</th>
      <th>Pieces</th>
      <th>Rule text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= !game.cover.nil? ? '' : (image_tag game.cover.variant(resize:'100x100', type: :grayscale) )%></td>
        <td>
            <%#= image_tag game.rule.variant(resize:'100x100') %>
            <%= link_to game.rule.filename, rails_blob_path(game.rule, disposition: 'attachment') %>
        </td>
        <td>
          <% game.pieces.each do |piece| %>
            <%= piece.nil? ? 'ola' : (image_tag piece.variant(resize:'100x100')) %>
          <% end %>
        </td>
        <td><%= game.rules %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
